/**
* 定义微信文章的页面版式和基本字体风格的样式
*/

:root {
	/* page  layout */
	--article-max-width: none;
	--article-min-width: 200px;
	--article-padding: 0px;
	--article-margin: 0px;
	--article-background-color: var(--smart-mp-bg);
	--article-background-image: none;
	--article-background-repeat: repeat;
	--article-background-size: auto;
	--article-background-position: left top;

}

.smart-mp {
	max-width: var(--article-max-width);
	min-width: var(--article-min-width);
	padding: var(--article-padding);
	margin: var(--article-margin);
	background-color: #ffffff;
	background-image: var(--article-background-image);
	background-repeat: var(--article-background-repeat);
	background-size: var(--article-background-size);
	background-position: var(--article-background-position);

}

.smart-mp-temp-container {
	position: absolute !important;
	left: -9999px !important;
	top: -9999px !important;
	width: 1200px !important;
	height: 2000px !important;
	visibility: hidden !important;
	overflow: hidden !important;
}

.smart-mp-setting-section-summary {
	outline: none;
	font-weight: bold;
	font-size: 1.1em;
}

.smart-mp-spinner-visible {
	display: flex !important;
}

.smart-mp-spinner-hidden {
	display: none !important;
}

.smart-mp-material-view-content {
	padding: 0 !important;
	margin: 0 !important;
}