:root{
	--link-color: var(--smart-mp-secondary, rgb(0, 102, 204));
	--link-hover-color: var(--smart-mp-primary-light, rgb(0, 128, 255));
	--link-active-color: var(--smart-mp-primary, rgb(0, 128, 255));
}


.smart-mp a {
	font-weight: 500;
	text-decoration: none;
	color: var(--link-color, rgb(0, 102, 204));
}

.smart-mp a:hover,
.smart-mp a:active {
	border-bottom: 1.5px solid var(--link-color, rgb(0, 102, 204));
	color: var(--link-hover-color, rgb(0, 128, 255));
}

.smart-mp a:before {
	content: "⇲";
}
